<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-text">Contact Me</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "mailto:p@philnguyen.me" do %>
            <i class="fa fa-envelope fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "http://www.twitter.com/p_ngu" do %>
            <i class="fa fa-twitter fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.linkedin.com/in/pnguyen06" do %>
            <i class="fa fa-linkedin fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "http://philnancials.tumblr.com" do %>
            <i class="fa fa-tumblr fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.facebook.com/philip.t.nguyen" do %>
            <i class="fa fa-facebook fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://github.com/pnguyen06" do %>
            <i class="fa fa-github fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://soundcloud.com/philthywin" do %>
            <i class="fa fa-cloud fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "http://instagram.com/philnancials" do %>
            <i class="fa fa-instagram fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://foursquare.com/p_ngu" do %>
            <i class="fa fa-foursquare fa-lg"></i>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<ul class="nav visible-xs" style="margin-top: 15px;">
  <li>
    <%= link_to "mailto:p@philnguyen.me" do %>
      <i class="fa fa-envelope fa-lg"></i>
      Email
    <% end %>
  </li>
  <li style="border-top: 1px solid #e1e1e1;">
    <%= link_to "http://www.twitter.com/p_ngu" do %>
      <i class="fa fa-twitter fa-lg"></i>
      Twitter
    <% end %>
  </li>
  <li style="border-top: 1px solid #e1e1e1;">
    <%= link_to "https://www.linkedin.com/in/pnguyen06" do %>
      <i class="fa fa-linkedin fa-lg"></i>
      LinkedIn
    <% end %>
  </li>
  <li style="border-top: 1px solid #e1e1e1;">
    <%= link_to "http://philnancials.tumblr.com" do %>
      <i class="fa fa-tumblr fa-lg"></i>
      Tumblr
    <% end %>
  </li>
  <li style="border-top: 1px solid #e1e1e1;">
    <%= link_to "https://www.facebook.com/philip.t.nguyen" do %>
      <i class="fa fa-facebook fa-lg"></i>
      Facebook
    <% end %>
  </li>
  <li style="border-top: 1px solid #e1e1e1;">
    <%= link_to "https://github.com/pnguyen06" do %>
      <i class="fa fa-github fa-lg"></i>
      GitHub
    <% end %>
  </li>
  <li style="border-top: 1px solid #e1e1e1;">
    <%= link_to "https://soundcloud.com/philthywin" do %>
      <i class="fa fa-cloud fa-lg"></i>
      SoundCloud
    <% end %>
  </li>
  <li style="border-top: 1px solid #e1e1e1;">
    <%= link_to "http://instagram.com/philnancials" do %>
      <i class="fa fa-instagram fa-lg"></i>
      Instagram
    <% end %>
  </li>
  <li style="border-top: 1px solid #e1e1e1;">
    <%= link_to "https://foursquare.com/p_ngu" do %>
      <i class="fa fa-foursquare fa-lg"></i>
      Foursquare
    <% end %>
  </li>
</ul>